<div class="page-title">
  <h1>Accounts</h1>
  <!-- TODO: Add filter by office -->
  <mat-divider></mat-divider>
</div>
<!-- TODO: Move to top right? -->
<mat-form-field class="search-bar" subscriptSizing="dynamic">
  <mat-icon matPrefix>search</mat-icon>
  <input type="search"
         placeholder="Search..."
         matInput
         [formControl]="searchControl">
</mat-form-field>
<div class="account-cards">
  <mat-card *ngFor="let account of searchFilteredAccounts | async" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <span class="account-name">{{ account.name }}</span>
          <span class="mat-body account-role"
                [style.background-color]="roleChipStyle(account.role).backgroundColor">{{ roleChipStyle(account.role).displayName }}</span>
        </mat-card-title>
        <mat-card-subtitle class="account-subtitle-line" matTooltip="Email">
          <mat-icon matListItemIcon>email</mat-icon>
          <span>{{ account.email }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle class="account-subtitle-line"
                           matTooltip="Assigned office">
          <mat-icon matListItemIcon>domain</mat-icon>
          <span matListItemLine>{{ account.assignedOffice.name }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="account.managedOffices.length > 0"
                           class="account-subtitle-line"
                           matTooltip="Managed offices">
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemLine>{{ joinWithComma(account.managedOffices) }}</span>
        </mat-card-subtitle>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Change role</span>
          </button>
          <button mat-menu-item>
            <mat-icon>highlight_remove</mat-icon>
            <span>Delete account</span>
          </button>
        </mat-menu>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>
<mat-paginator
  [length]="paginatorLength"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex | async"
  (page)="handlePageEvent($event)"
  hidePageSize>
</mat-paginator>
<button mat-fab class="add-button" color="primary" matTooltip="Add new account" matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>
