<div class="page-title">
  <h1>Accounts</h1>
  <button class="filter-button" mat-icon-button matTooltip="Filters" (click)="openFilterDialog()">
    <mat-icon>tune</mat-icon>
  </button>
  <mat-divider></mat-divider>
</div>
<mat-form-field class="search-bar" subscriptSizing="dynamic">
  <mat-icon matPrefix>search</mat-icon>
  <input type="search"
         placeholder="Search..."
         matInput
         [formControl]="searchControl"
  >
</mat-form-field>
<div class="account-cards" #accountCards>
  <mat-card *ngFor="let account of accounts" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <span class="account-name">{{ account.firstName }} {{ account.lastName }}</span>
          <span class="mat-body account-role"
                [style.background-color]="roleChipBackgroundColor(account.role)">{{ displayName(account.role) }}</span>
        </mat-card-title>
        <mat-card-subtitle class="account-subtitle-line" matTooltip="Email">
          <mat-icon matListItemIcon>email</mat-icon>
          <span>{{ account.email }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="account.assignedOffice" class="account-subtitle-line"
                           matTooltip="Assigned office">
          <mat-icon matListItemIcon>domain</mat-icon>
          <span matListItemLine>{{ account.assignedOffice.name }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="account.managedOffices && account.managedOffices.length > 0"
                           class="account-subtitle-line"
                           matTooltip="Managed offices">
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemLine>{{ joinWithComma(account.managedOffices) }}</span>
        </mat-card-subtitle>
        <button *ngIf="canDeleteAccount(account.role)" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="authService.hasSuperAdminRole()" mat-menu-item
                  (click)="changeRole(account.id, account.firstName, account.lastName, account.role)">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Change role</span>
          </button>
          <button *ngIf="canDeleteAccount(account.role)" mat-menu-item
                  (click)="deleteAccount(account.id, account.firstName, account.lastName, account.email)">
            <mat-icon>highlight_remove</mat-icon>
            <span>Delete account</span>
          </button>
        </mat-menu>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>
<mat-paginator
  [length]="pagination.offset + pagination.limit + (pagination.hasMoreResults ? 1 : 0)"
  [pageSize]="pagination.limit"
  [pageIndex]="pagination.offset / pagination.limit"
  (page)="handlePageEvent($event)"
  hidePageSize>
</mat-paginator>
<button *ngIf="authService.hasOfficeManagerRole()" mat-fab class="add-button" color="primary"
        matTooltip="Add new account" matTooltipPosition="above"
        (click)="createAccount()">
  <mat-icon>add</mat-icon>
</button>
