<h2 mat-dialog-title class="title">Edit {{ data.officeName }} managers</h2>
<mat-dialog-content>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Managers</mat-label>
    <mat-chip-grid #chipGrid>
      @for (manager of assignedManagers(); track $index) {
        <mat-chip-row (removed)="remove(manager)">
          {{ displayManager(manager) }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      #managerInput
      name="currentManager"
      placeholder="Start typing..."
      [formControl]="managerControl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayManager">
      @for (manager of managers; track manager.id) {
        <mat-option [value]="manager.id">{{ displayManager(manager) }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Back</button>
  <button mat-button color="primary" (click)="onAssign()" cdkFocusInitial>Assign</button>
</mat-dialog-actions>
