<h2 mat-dialog-title class="title">Edit {{ data.officeName }} managers</h2>
<mat-dialog-content>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Managers</mat-label>
    <mat-chip-grid #chipGrid>
      @for (account of assignedManagers(); track $index) {
        <mat-chip-row (removed)="remove(account)">
          {{ account }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      #managerInput
      name="currentManager"
      placeholder="Start typing..."
      [formControl]="currentManager"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      @for (manager of filteredManagers | async; track manager) {
        <mat-option [value]="manager">{{ manager }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Back</button>
  <button mat-button color="primary" (click)="onAssign()" cdkFocusInitial>Assign</button>
</mat-dialog-actions>
