@switch (mode) {
  @case (Mode.LIST) {
    <app-desk-list-view (changeToReservationsView)="mode = Mode.RESERVATION"
                        [selectedOfficeId]="selectedOfficeId"
                        (selectedOfficeIdChange)="changeSelectedOfficeId($event)">
    </app-desk-list-view>
  }
  @case (Mode.RESERVATION) {
    <app-desk-reservation-view (changeToDesksView)="mode = Mode.LIST"
                               [selectedOfficeId]="selectedOfficeId"
                               (selectedOfficeIdChange)="changeSelectedOfficeId($event)">
    </app-desk-reservation-view>
  }
}
