<h2 mat-dialog-title class="title">Filters</h2>
<mat-dialog-content>
  <mat-form-field class="office-select">
    <mat-label>Office</mat-label>
    <mat-select [(value)]="selectedOfficeId">
      <mat-option [value]="null">All</mat-option>
      @for (office of data.offices; track office) {
        <mat-option [value]="office.id">{{ office.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Account roles</mat-label>
    <mat-select [(value)]="accountRoles" multiple>
      @for (role of Object.values(AccountRole); track role) {
        <mat-option [value]="role">{{ AccountRoleCompanion.displayName(role) }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Back</button>
  <button mat-button color="primary" type="submit" (click)="onApply()" cdkFocusInitial>Apply</button>
</mat-dialog-actions>
