<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title class="title">New reservation in {{ data.officeName }}</h2>
  <mat-dialog-content>
    <mat-form-field class="reservation-date-range">
      <mat-label>Reservation date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="reservationFrom" placeholder="Start date" required
               (dateChange)="fetchDesks()">
        <input matEndDate formControlName="reservationTo" placeholder="End date" required (dateChange)="fetchDesks()">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker [touchUi]="false" #picker></mat-date-range-picker>
      <mat-error
        *ngIf="form.get('reservationFrom')?.hasError('required') || form.get('reservationTo')?.hasError('required')">
        Reservation date range is required
      </mat-error>
    </mat-form-field>
    <mat-selection-list
      *ngIf="desks.length > 0 && !form.get('reservationFrom')?.hasError('required') && !form.get('reservationTo')?.hasError('required')"
      formControlName="deskId" [multiple]="false">
      @for (desk of desks; track desk.id) {
        <mat-list-option color="primary" [value]="desk.id" [selected]="[desk.id] === form.get('deskId')?.value">
          <div class="desk-horizontal">
            <span>{{ desk.name }}</span>
            <div class="monitors-count" matTooltip="Monitors">
              <mat-icon>monitor</mat-icon>
              <span>{{ desk.monitorsCount }}</span>
            </div>
            <mat-icon *ngIf="desk.isStanding" class="standing-icon" matTooltip="Standing">boy</mat-icon>
            <mat-icon *ngIf="desk.hasPhone" matTooltip="Phone">phone</mat-icon>
          </div>
        </mat-list-option>
        <mat-divider *ngIf="!$last"></mat-divider>
      }
    </mat-selection-list>
    <span *ngIf="desks.length === 0 && form.get('reservationFrom')?.value && form.get('reservationTo')?.value"
          class="mat-h3 no-free-desks-info">No available desks found</span>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Comment (optional)</mat-label>
      <textarea formControlName="comment" class="comment" matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Back</button>
    <button mat-button color="primary" type="submit" [disabled]="!form.valid">Confirm</button>
  </mat-dialog-actions>
</form>
