.page-title {
  background-color: var(--mat-app-background-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  .title-button {
    padding: 22px 16px 0 16px;

    button {
      margin-bottom: 14px;
    }
  }

  .filter-button {
    position: fixed;
    right: 48px + 16px;
    top: 16px;
    z-index: 1000;
  }

  .desk-list-button {
    position: fixed;
    right: 16px;
    top: 16px;
    z-index: 1000;
  }

  mat-divider {
    margin-left: 16px;
    margin-right: 236px;

    @media (max-width: 600px) {
      margin-right: 16px;
    }
  }
}

.reservation-cards {
  padding: 96px 24px 8px 24px;

  @media (max-width: 600px) {
    padding-bottom: 68px;
  }

  h3 {
    margin-bottom: 0;
    margin-left: 4px;
  }

  mat-divider {
    margin-bottom: 8px;
  }
}

.reservation-subtitle-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-right: 24px;

  mat-icon {
    margin-right: 4px;
  }

  span {
    text-wrap: nowrap;
  }
}

mat-card {
  border-radius: 10px;
  margin-bottom: 10px;
}

mat-card-header {
  padding: 16px;

  mat-card-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
  }
}

.reservation-state {
  height: 22px;
  margin: 0 16px 1px 8px;
  padding: 2px 8px 0 8px;
  border-radius: 4px;
}

.reservation-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: block;
    flex-direction: row;

    span {
      margin-left: 4px;
      display: inline-flex;
      text-wrap: wrap;
      text-align: justify;

      @media (max-width: 400px) {
        display: none;
      }
    }
  }
}

.buttons-row {
  display: flex;
  flex-wrap: nowrap;
}

.reservation-button {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.55);

  & > *[role=img] {
    width: 24px;
    height: 24px;
    font-size: 24px;
    padding-left: 1px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  ::ng-deep .mat-mdc-button-touch-target {
    width: 28px;
    height: 28px;
  }
}

mat-paginator {
  display: flex;
  justify-content: center;
  background-color: var(--mat-app-background-color);

  ::ng-deep .mat-mdc-paginator-range-label {
    display: none;
  }

  ::ng-deep button {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;

  @media (max-width: 600px) {
    margin-bottom: 55px;
  }
}
