mat-divider {
  margin-bottom: 20px;
}

mat-card {
  border-radius: 10px;
  margin-bottom: 10px;
}

mat-card-header {
  padding: 16px;
}

mat-card-subtitle {
  width: 180px;
}

.menu-button {
  display: inline-block;
  border-radius: 100%;
  min-width: var(--mdc-text-button-container-height);
  width: var(--mdc-text-button-container-height);

  mat-icon {
    transform: scale(1.4);
  }
}

.office-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 400px) {
    display: none;
  }

  .office-managers {
    text-wrap: wrap;
  }
}

div.office-stats-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.office-stats-item {
  display: flex;
  flex-direction: row;
  padding: 2px 0 2px 0;

  span {
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
  }
}

.office-stats-item-horizontal {
  margin-right: 16px;
}
