.page-title {
  background-color: var(--mat-app-background-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  h1 {
    padding: 24px 24px 0 24px;
  }
}

.office-cards {
  padding: 96px 24px 8px 24px;

  @media (max-width: 600px) {
    padding-bottom: 68px;
  }
}

mat-card {
  border-radius: 10px;
  margin-bottom: 10px;
}

mat-card-header {
  padding: 16px;
}

mat-card-subtitle {
  width: 180px;
}

.office-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 400px) {
    display: none;
  }

  .office-managers {
    text-wrap: wrap;
  }
}

div.office-stats-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.office-stats-item {
  display: flex;
  flex-direction: row;
  padding: 2px 0 2px 0;

  span {
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
  }
}

.office-stats-item-horizontal {
  margin-right: 16px;
}

mat-paginator {
  display: flex;
  justify-content: center;
  background-color: var(--mat-app-background-color);

  ::ng-deep .mat-mdc-paginator-range-label {
    display: none;
  }

  ::ng-deep button {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;

  @media (max-width: 600px) {
    margin-bottom: 55px;
  }
}
