<div class="page-title">
  <h1>Offices</h1>
  <mat-divider></mat-divider>
</div>
<div class="office-cards">
  <mat-card *ngFor="let office of officesPage" appearance="raised">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ office.name }}</mat-card-title>
        <mat-card-subtitle>{{ office.address.addressLine1 }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="office.address.addressLine2">{{ office.address.addressLine2 }}</mat-card-subtitle>
        <mat-card-subtitle>{{ office.address.postalCode }} {{ office.address.city }}, {{ office.address.country }}
        </mat-card-subtitle>
        <div class="office-stats">
          <div class="office-stats-item" matTooltip="Office managers">
            <mat-icon matListItemIcon>person</mat-icon>
            <span matListItemLine class="office-managers">{{ office.officeManagers.join(", ") }}</span>
          </div>
          <div class="office-stats-item" matTooltip="Assigned accounts">
            <mat-icon matListItemIcon>supervisor_account</mat-icon>
            <span matListItemLine>{{ office.assignedAccounts }}</span>
          </div>
          <div class="office-stats-horizontal">
            <div class="office-stats-item office-stats-item-horizontal" matTooltip="Desks">
              <mat-icon matListItemIcon>table_restaurant</mat-icon>
              <span matListItemLine>{{ office.desks }}</span>
            </div>
            <div class="office-stats-item office-stats-item-horizontal" matTooltip="Parking spots">
              <mat-icon matListItemIcon>local_parking</mat-icon>
              <span matListItemLine>{{ office.parkingSpots }}</span>
            </div>
            <div class="office-stats-item office-stats-item-horizontal" matTooltip="Rooms">
              <mat-icon matListItemIcon>meeting_room</mat-icon>
              <span matListItemLine>{{ office.rooms }}</span>
            </div>
            <div class="office-stats-item office-stats-item-horizontal" matTooltip="Active reservations">
              <mat-icon matListItemIcon>calendar_month</mat-icon>
              <span matListItemLine>{{ office.activeReservations }}</span>
            </div>
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editOffice(office.id, {
            name: office.name,
            address: {
              addressLine1: office.address.addressLine1,
              addressLine2: office.address.addressLine2,
              postalCode: office.address.postalCode,
              city: office.address.city,
              country: office.address.country
            }
          })">
            <mat-icon>edit</mat-icon>
            <span>Edit office</span>
          </button>
          <button mat-menu-item (click)="editManagers(office.id)">
            <mat-icon>person</mat-icon>
            <span>Edit managers</span>
          </button>
          <button mat-menu-item (click)="deleteOffice(office.id, office.name)">
            <mat-icon>highlight_remove</mat-icon>
            <span>Delete office</span>
          </button>
        </mat-menu>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-paginator
    [length]="offices.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
    hidePageSize>
  </mat-paginator>
  <button mat-fab class="add-button" color="primary" (click)="createOffice()" matTooltip="Add new office"
          matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>
</div>
