.content {
  background-color: var(--mat-app-background-color);
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 220px;
  border-right-color: rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

mat-nav-list {
  padding: 8px 8px 0 8px;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 10px;
}

a.is-active {
  background-color: rgba(46, 82, 246, 0.16);
}

::ng-deep .mat-ripple-element {
  background-color: rgba(46, 82, 246, 0.16);
}

.toolbar-mobile {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: start;
  padding: 0;

  button {
    flex: 1;
    display: flex;
    border: none;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  span {
    white-space: normal;
  }

  button:hover {
    color: white;
  }

  .is-active-mobile {
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Add this line for semitransparent background */
  }
}

.mat-divider.logout-separator-mobile {
  border-right-color: rgba(255, 255, 255, 0.2);
  height: calc(var(--mat-toolbar-standard-height) * 0.7);
  align-self: center;
}

div.sidenav-elements {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  cursor: default;
  user-select: none;
}
