.content {
  padding: 24px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 220px;
  border-right-color: rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

mat-nav-list {
  padding: 8px 8px 0 8px;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 10px;
}

a.is-active {
  background-color: rgba(46, 82, 246, 0.16);
}

::ng-deep .mat-ripple-element {
  background-color: rgba(46, 82, 246, 0.16);
}
