.page-title {
  background-color: var(--mat-app-background-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;

  .title-button {
    padding: 22px 16px 0 16px;

    button {
      margin-bottom: 14px;
    }
  }

  .reservation-button {
    position: fixed;
    right: 16px;
    top: 16px;
    z-index: 1000;
  }

  mat-divider {
    margin-left: 16px;
    margin-right: 236px;

    @media (max-width: 600px) {
      margin-right: 16px;
    }
  }
}
